@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    padding: 0;
  }

  ::selection {
    background-color: rgb(14 165 233 / 0.2);
    color: rgb(3 105 161);
  }

  .dark ::selection {
    color: rgb(56 189 248);
  }
}
